@media (min-width: 0px) {
  .section-5 {
    width: 100%;
    height: 850px;
    background-color: rgba(212, 217, 224, 0.466);
    .section-5__div {
      max-width: 1300px;
      margin: 0 auto;
      padding: 0px 20px 0px 20px;
      .text-1 {
        color: var(--, #1f1d14);
        font-family: "Fira Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 20px;
      }
      .section-5__card {
        padding: 10px 10px;
        width: 310px;
        height: 367px;
        border-radius: 8px;
        background-color: #1f1d14;
        .section-5__text-2 {
          color: var(--white, #fff);
          font-family: "Fira Sans";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 140% */
        }
        .btn {
          background-color: #1f1d14;
          border: none;
          margin-top: 20px;
        }
      }
      .section-5__card-2 {
        padding: 40px 40px 40px 40px;
        margin-top: 40px;
        width: 240px;
        height: 264px;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
      }
    }
  }
}

@media (min-width: 900px) {
  .section-5 {
    width: 100%;
    height: 890px;
    background-color: rgba(212, 217, 224, 0.466);
    .section-5__div {
      max-width: 1300px;
      margin: 0 auto;
      padding: 0px 20px 0px 20px;
      .text-1 {
        color: var(--, #1f1d14);
        font-family: "Fira Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 20px;
      }
      .section-5__card {
        display: flex;
        padding: 70px 80px;
        width: 700px;
        height: 367px;
        border-radius: 8px;
        background-color: #1f1d14;
        .section-5__text-2 {
          color: var(--white, #fff);
          font-family: "Fira Sans";
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          width: 540px;
          height: 367px;
          
        }
        .btn {
          background-color: #1f1d14;
          border: none;
          // margin-top: 300px;
          // margin-left: 500px;
        }
      }
      .section-5__card-2 {
        padding: 40px 40px 40px 40px;
        margin-top: 40px;
        width: 700px;
        height: 154px;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
      }
    }
  }
}
