@media (min-width: 0px) {
  .section-4 {
    width: 100%;
    height: 2808px;
    background-color: rgba(212, 217, 224, 0.466);
    .section-4__div {
      max-width: 1300px;
      margin: 0 auto;
      padding: 20px;
      .section-4__cantent {
        .section-4__text-1 {
          color: var(--, #1f1d14);
          font-family: "Fira Sans";
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 40px;
        }
        .section-4__card {
          .section-4__info {
            width: 320px;
            height: 417px;
            border-radius: 8px;
            background: var(--white, #fff);
            padding: 20px 10px;
            .section-4__text-2 {
              color: var(--, #1f1d14);
              font-family: "Fira Sans";
              font-size: 32px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            .section-4__text-3 {
              color: #000;
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px; /* 137.5% */
            }
          }
        }
        .section-4__card-2 {
          .section-4__img {
            width: 340px;
            margin-top: 20px;
            height: 350px;
            border-radius: 8px;
            background: #fff;
          }
          .section-4__btn {
            border-radius: 5px;
            background: var(--white, #fff);
            display: flex;
            width: 340px;
            padding: 15px 100px;
            border: none;
            margin-top: 20px;
          }
        }
      }
    }

    .section-4__div-2 {
      max-width: 1300px;
      margin: 0 auto;
      padding: 20px;
      .text {
        color: var(--, #1f1d14);
        font-family: "Fira Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 40px;
      }
      .section-2__cantent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        .section-2__card {
          padding: 60px 40px;
          width: 272px;
          height: 289px;
          border-radius: 8px;
          background: var(--white, #fff);
          .text-2 {
            color: #000;
            margin-top: 30px;
            font-family: "Fira Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}

@media (min-width: 852px) {
  .section-4 {
    width: 100%;
    height: 1508px;
    background-color: rgba(212, 217, 224, 0.466);
    .section-4__div {
      max-width: 1300px;
      margin: 0 auto;
      padding: 20px;
      .section-4__cantent {
        .section-4__text-1 {
          color: var(--, #1f1d14);
          font-family: "Fira Sans";
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .section-4__card {
          display: flex;
          justify-content: space-between;
          .section-4__info {
            width: 420px;
            height: 397px;
            border-radius: 8px;
            background: var(--white, #fff);
            padding: 20px 10px;
            .section-4__text-2 {
              color: var(--, #1f1d14);
              font-family: "Fira Sans";
              font-size: 32px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            .section-4__text-3 {
              color: #000;
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px; /* 137.5% */
            }
          }
        }
        .section-4__card-2 {
          .section-4__img {
            width: 340px;
            margin-top: 20px;
            height: 350px;
            border-radius: 8px;
            background: #fff;
          }
          .section-4__btn {
            border-radius: 5px;
            background: var(--white, #fff);
            display: flex;
            width: 340px;
            padding: 15px 100px;
            border: none;
            margin-top: 20px;
          }
        }
      }
    }
    .section-4__div-2 {
        max-width: 1300px;
        margin: 0 auto;
        padding: 20px;
        .text {
          color: var(--, #1f1d14);
          font-family: "Fira Sans";
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .section-2__cantent {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 20px;
          .section-2__card {
            padding: 60px 40px;
            width: 272px;
            height: 289px;
            border-radius: 8px;
            background: var(--white, #fff);
            .text-2 {
              color: #000;
              margin-top: 30px;
              font-family: "Fira Sans";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
  }
}

@media (min-width: 1200px) {
  .section-4 {
    width: 100%;
    height: 1098px;
    background-color: rgba(212, 217, 224, 0.466);
    .section-4__div {
      max-width: 1300px;
      margin: 0 auto;
      padding: 20px;
      .section-4__cantent {
        .section-4__text-1 {
          color: var(--, #1f1d14);
          font-family: "Fira Sans";
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .section-4__card {
          display: flex;
          justify-content: space-between;
          .section-4__info {
            width: 608px;
            height: 417px;
            border-radius: 8px;
            background: var(--white, #fff);
            padding: 20px 10px;
            .section-4__text-2 {
              color: var(--, #1f1d14);
              font-family: "Fira Sans";
              font-size: 32px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            .section-4__text-3 {
              color: #000;
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px; /* 137.5% */
            }
          }
        }
        .section-4__card-2 {
          .section-4__img {
            width: 608px;
            height: 350px;
            border-radius: 8px;
            background: #fff;
            display: flex;
            justify-content: center;
          }
          .section-4__btn {
            border-radius: 5px;
            background: var(--white, #fff);
            display: flex;
            width: 608px;
            padding: 15px 250px;
            border: none;
            margin-top: 20px;
          }
        }
      }
    }
    .section-4__div-2 {
        max-width: 1300px;
        margin: 0 auto;
        padding: 20px;
        .text {
          color: var(--, #1f1d14);
          font-family: "Fira Sans";
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .section-2__cantent {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(0, 1fr);
          grid-column-gap: 20px;
          grid-row-gap: 0px;
          .section-2__card {
            padding: 60px 40px;
            width: 252px;
            height: 289px;
            border-radius: 8px;
            background: var(--white, #fff);
            .text-2 {
              color: #000;
              margin-top: 30px;
              font-family: "Fira Sans";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
  }
}
